.admin{
    // height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;

    >.header{
        height: 45px;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #555;


        >.burger{
            height: 45px;
            width: 45px;
            font-size: 1.8em;
            background-color: transparent;
            border: none;
            color:#fff;
            float: left;

        }
    }
    >.sidebar{
        top: 0;
        bottom: 0;
        max-width: 347px;
        position: absolute;
        background-color: #555;
    }

    .menus {
        >.logo{
            text-align: center;
            font-size: 2em;
            color: #ff5f2e;
        }

        > li{
            padding: 0 5px ;
            margin: 10px;
            font-size: 2em;
            border-radius: 2px;

            > span{
                width: 50px;
                vertical-align: middle;
                display: inline-block;
                padding: 0 10px;
            }

            &:hover:not(.logo){
                cursor: pointer;
                color: #fff;
                background-color: #c1c1c1;
                // box-shadow: 0 2px 0 0 #fff;
            }
        }
    }



    .mac_list{
        > ._1{

            > .search{
                height: 60px;
            }

            > .items{
                    // height: 60px;
                    padding: 5px 10px;
                > div,.text{
                    height: 80px;
                    display: inline-block;
                }
                &.laptop{
                    .logo{
                        background-color: #ff5f2e;
                    }
                }
                &.tablet{
                    .logo{
                        background-color: #ffc952;
                    }

                }
                &.phone{
                    .logo{
                        background-color: #ff7473;
                    }
                }
                > .icon{
                    width: 80px;
                    height: 80px;
                    padding: 10px;
                    margin-right: 15px;
                    background-color: #fff;

                    > .logo{
                        width: 60px;
                        height: 60px;
                        font-size: 3em;
                        text-align: center;
                        border: 1px solid transparent;
                        border-radius: 50%;
                        line-height: 60px;
                        color: #EFFFE9;
                    }
                }
                > .text{
                    margin-bottom: 0;
                    > .mac{
                        height: 40px;
                        line-height: 60px;
                        font-size: 1.6em;
                        color: #555;
                    }
                    > .name{
                        height: 40px;
                        font-size: 1.3em;
                        color: #bdbdbd;
                    }
                }

                >.date{
                    line-height: 60px;
                }
            }
        }
    }
    .sidebar{
        visibility: hidden;
    }


}
