.center{
    text-align: center;
}
.myalert{
    height: 100%;
    font-size: 1.5em;
    float: left;
    // border: 1px solid #12af3c;
    // border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    margin-left: 25px;
    color: #108c30;
    display: block;
    background-color: #c4ffd3;
}
.admin{
    &.wrap{
        min-width: 1200px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    // min-width: 1200px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;

    >.nav{
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #004e66;
        font-size: 1.6em;
        text-align: right;
        overflow: hidden;
        line-height: 40px;
        >.secret{
            color: #EFFFF9;
        }
        >.username{
            color: #ff5f2e;
            padding: 0 15px;
            height: 40px;
            line-height: 30px;
            vertical-align: middle;
            display: inline-block;
        }
        >.logout{
            padding: 0 10px;
            border: none;
            background-color: #ff5f2e;
            color: #004e66;
            &:hover{
                background-color: #d9e1e8;
                // color: #fff;
            }
        }
    }
    >.sidebar{
        top: 40px;
        bottom: 0;
        // max-width: 300px;
        position: absolute;
        background-color: #004e66;
    }

    .menus {
        >.logo{
            text-align: center;
            font-size: 1.7em;
            color: #ff5f2e;
        }
        > a{
            text-decoration: none;
        }
        > a li{
            padding: 0 10px ;
            // margin: 10px;
            font-size: 1.7em;
            color: #FFFFF3;


            > span{
                width: 50px;
                vertical-align: middle;
                display: inline-block;
                padding: 0 10px;
            }

            &:hover{
                cursor: pointer;
                color: #fff;
                background-color: #c1c1c1;
                // box-shadow: 0 2px 0 0 #fff;
            }
            &.active , &.active:hover{
                background-color: #fff;
                color: #004e66;
            }
        }
    }




    ///////// admin login page ////////////
    > .signin{

        width: 400px;
        background-color: #d9e1e8;
        padding: 30px 60px;
        box-shadow: 0 3px 0 0 #004e66;
        margin: 0 auto;
        margin-top: 150px;
        >.header{
            margin-bottom: 30px;
            text-align: center;
            >h2,h3{
                font-size: 3em;
                margin: 0;
                color: #004e66;
            }
            >h2{
                padding-bottom: 2px;
                box-shadow: 0 2px 0 0 #004e66;
            }
        }
        > form{
            padding: 0 0 20px 0 ;
            >.input{
                margin-top: 20px;
                >label{
                    color: #004e66;
                    font-size: 1.4em;
                }
                >input{
                    width: 100%;
                    height: 40px;
                    border: 2px solid #ff5f2e;
                    padding-left: 15px;
                }
            }
            >.submit{
                padding: 15px 0;

                > button{
                    height: 40px;
                    width: 100px;
                    background-color: #004e66;
                    border: 2px solid #004e66;
                    color: #fff;
                }
            }

        }
    }
    >.content{
        width: 100%;
        padding: 15px 0;
        padding-left: 250px;
        padding-top: 40px;
        padding-right: 15px;
        float: left;
    }
    > .content.mac_list{


        >._1,._2{
            float: left;
        }
        >._1{
            width: 100%;
            >.search form{
                margin: 25px 0;
                height: 35px;
                float: left;
                > .input,>.button{
                    height: 100%;
                    font-size: 1.5em;
                    float: left;
                }
                >.input{
                    width: 300px;
                    margin-right: 5px;
                    padding: 5px;
                    border: 2px solid #ff5f2e;
                    background-color: #fff;
                }
                >.button{
                    background-color: #fff;
                    border: 2px solid #004E66;
                    color: #004E66;
                }


            }
            >.cancle{
                margin: 25px 0;
                height: 35px;
                float: right;
                >.button{
                    background-color: #ff5f2e;
                    border: 2px solid transparent;
                    color: #fff;
                    font-size: 1.5em;
                    padding: 0 20px;
                }
            }
            > table{
                &.table-hover > tbody > tr:hover{
                }

                > thead{
                    background-color: #d9e1e8;
                    >tr th{
                        border: none;
                        color: #004e66;
                    }
                    > tr th:first-child{
                        background-color: #004e66;
                        color: #EFFFF9;
                        width: 50px;
                    }
                }
                > tbody{
                    > tr.edit{
                        color: #ff5f2e;
                    }
                    > tr {
                        color:  #004e66;
                        > td{
                            vertical-align: middle;
                        }
                        td:first-child, td:last-child ,td:nth-child(2){
                            text-align: center;
                        }
                        td:first-child{
                            font-size: 2em;
                        }
                        td:last-child{
                            > form{
                                display: inline-block;
                            }
                            > button,> form > button{
                                border: 1px solid #ff5f2e;
                                background-color: transparent;
                                color: #ff5f2e;
                                font-size: 1.2em;
                                width: 34px;
                                height: 30px;
                                padding: 2px 8px;
                            }
                            >h3{
                                font-size: 1.2em;
                                color: #ff5f2e;
                            }
                        }
                    }
                }
            }
        }
        >._2{
            padding: 0 0 0 30px;
            width: 25%;
            min-width: 200px;

        }

    }

    .managealert{
        margin-left: 20px;
        font-size: 1.2em;
    }

    > .content.manage{
        .top{
            margin-top: 20px;
            > h3{
                display: inline-block;
                margin: 0;
                padding: 10px 20px;
                background-color: #ff5f2e;
            }

            background-color: #d9e1e8;
        }

        .tab{
            border: 2px solid #004e66;
            display: inline-block;
            text-align: center;
            background-color: #FFFFF3;
            width:  130px;

            &.active {
                border: 1px solid transparent;
                background-color: #ff5f2e;
                > a{
                    color: #FFFFF3;
                }
            }
            >a{
                display: block;
                padding: 10px 10px;
                color: #004e66;
                text-decoration: none;
                > i{
                    margin: 5px 0;
                    display: block;
                    font-size: 3.5em;
                }
            }


        }
        .mid{
            padding-top: 20px;
            padding-left: 30px;
            .form{
                width: 535px;
                padding: 20px 15px;
                color: #004e66;
                background-color: #d9e1e8;
                .pname,.fname,.lname{
                    display: inline-block;
                }
                .pname{
                    padding-left: 5px;
                    width: 100px;
                }
                .fname,.lname{
                    width: 196px;
                }
            }
        }

    }
    .maclistedit{
        >._1{
            >.showalert{
                margin: 25px 0 0 0 ;
                height: 35px;
                width: 400px;
                font-size: 1.5em;
                padding: 3px 20px;
                display: inline-block;
                background-color: #d6e9c6
            }
        }
        .mid{
            background-color: #d9e1e8;
            >.head{
                // background-color:   #ff5f2e;
                font-size: 2em;
                border-bottom:  1px solid aliceblue;
                color: #ff5f2e;
                >i{
                    background-color:  #ff5f2e;
                    padding: 5px 15px 5px 15px;
                    border: 2px solid #ff5f2e;
                    color:  aliceblue;
                }
            }
        }
        .form{
            margin-left: 50px;
                width: 535px;
                padding: 20px 15px;
                color: #004e66;

                .pname,.fname,.lname{
                    display: inline-block;
                }
                .pname{
                    padding-left: 5px;
                    width: 100px;
                }
                .fname,.lname{
                    width: 196px;
                }
            }
    }

    >.content.log{
        >.board,.list{
            float: left;
        }
        >.board{
            >h2{
                padding: 5px;
                background-color: #004e66;
                color: #FFFFF3;
                font-size: 2em;
            }
            >.content{
                width: 800px;
                height: 700px;
                padding: 0 0 15px 0;
                border: 1px solid #004e66;
                font-size: 1.2em;
                overflow-y: auto;
                th{
                    border-bottom: 1px solid #004e66;
                    // border-color:#004e66;
                }
                thead{
                    tr:first-child{
                        background-color: #e8e8e8;
                    }
                }

            }
            >.search form{
                margin: 5px 0 15px 0;
                height: 35px;
                float: left;
                > .input,>.button,>.select{
                    height: 100%;
                    font-size: 1.5em;
                    float: left;
                }
                >.input{
                    width: 300px;
                    margin-right: 5px;
                    padding: 5px;
                    border: 2px solid #ff5f2e;
                    background-color: #fff;
                }
                >.button{
                    background-color: #fff;
                    border: 2px solid #004E66;
                    color: #004E66;
                }
                >.select{
                    margin-right: 5px;
                }


            }
        }
        >.list{
            >h3{
                padding: 5px;
                background-color: #ff5f2e;
                color: #FFFFF3;
            }
            margin-left: 10px;
            >.content{
                overflow-y: auto;
                font-size: 1.2em;
                padding: 5px 10px;
                height: 700px;
                border: 1px solid #ff5f2e;
                background-color: #d9e1e8;
                >a{
                    // color:#004e66;
                }
            }
        }
    }

}
