.center {
  text-align: center; }

.admin {
  top: 0;
  bottom: 0;
  position: absolute; }
  .admin > .nav {
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #555; }
  .admin > .sidebar {
    top: 40px;
    bottom: 0;
    position: absolute;
    background-color: #004e66; }
  .admin > .content {
    padding-left: 300px;
    padding-top: 40px;
    width: 100%;
    float: left; }
  .admin .menus > .logo {
    text-align: center;
    font-size: 2em;
    color: #ff5f2e; }
  .admin .menus > li {
    padding: 0 10px;
    font-size: 2em;
    color: #FFFFF3; }
    .admin .menus > li > span {
      width: 50px;
      vertical-align: middle;
      display: inline-block;
      padding: 0 10px; }
    .admin .menus > li:hover {
      cursor: pointer;
      color: #fff;
      background-color: #c1c1c1; }
    .admin .menus > li.active, .admin .menus > li.active:hover {
      background-color: #fff;
      color: #004e66; }
  .admin > .content > .mac_list {
    width: 100%;
    min-width: 960px;
    padding: 15px 0;
    float: left; }
    .admin > .content > .mac_list > ._1, .admin > .content > .mac_list ._2 {
      float: left; }
    .admin > .content > .mac_list > ._1 {
      width: 75%;
      min-width: 700px; }
      .admin > .content > .mac_list > ._1 > .search {
        padding: 0 0 25px 0;
        float: left; }
    .admin > .content > .mac_list > ._2 {
      padding: 0 0 0 30px;
      width: 25%;
      min-width: 200px; }
