.admin {
  top: 0;
  bottom: 0;
  position: absolute; }
  .admin > .header {
    height: 45px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #555; }
    .admin > .header > .burger {
      height: 45px;
      width: 45px;
      font-size: 1.8em;
      background-color: transparent;
      border: none;
      color: #fff;
      float: left; }
  .admin > .sidebar {
    top: 0;
    bottom: 0;
    max-width: 347px;
    position: absolute;
    background-color: #555; }
  .admin .menus > .logo {
    text-align: center;
    font-size: 2em;
    color: #ff5f2e; }
  .admin .menus > li {
    padding: 0 5px;
    margin: 10px;
    font-size: 2em;
    border-radius: 2px; }
    .admin .menus > li > span {
      width: 50px;
      vertical-align: middle;
      display: inline-block;
      padding: 0 10px; }
    .admin .menus > li:hover:not(.logo) {
      cursor: pointer;
      color: #fff;
      background-color: #c1c1c1; }
  .admin .mac_list > ._1 > .search {
    height: 60px; }
  .admin .mac_list > ._1 > .items {
    padding: 5px 10px; }
    .admin .mac_list > ._1 > .items > div, .admin .mac_list > ._1 > .items .text {
      height: 80px;
      display: inline-block; }
    .admin .mac_list > ._1 > .items.laptop .logo {
      background-color: #ff5f2e; }
    .admin .mac_list > ._1 > .items.tablet .logo {
      background-color: #ffc952; }
    .admin .mac_list > ._1 > .items.phone .logo {
      background-color: #ff7473; }
    .admin .mac_list > ._1 > .items > .icon {
      width: 80px;
      height: 80px;
      padding: 10px;
      margin-right: 15px;
      background-color: #fff; }
      .admin .mac_list > ._1 > .items > .icon > .logo {
        width: 60px;
        height: 60px;
        font-size: 3em;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 50%;
        line-height: 60px;
        color: #EFFFE9; }
    .admin .mac_list > ._1 > .items > .text {
      margin-bottom: 0; }
      .admin .mac_list > ._1 > .items > .text > .mac {
        height: 40px;
        line-height: 60px;
        font-size: 1.6em;
        color: #555; }
      .admin .mac_list > ._1 > .items > .text > .name {
        height: 40px;
        font-size: 1.3em;
        color: #bdbdbd; }
    .admin .mac_list > ._1 > .items > .date {
      line-height: 60px; }
  .admin .sidebar {
    visibility: hidden; }
