.center{
    text-align: center;
}
.admin{
    &.wrap{
        min-width: 1200px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    // min-width: 1200px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;

    >.nav{
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #004e66;
        font-size: 1.6em;
        text-align: right;
        overflow: hidden;
        line-height: 40px;
        >.secret{
            color: #EFFFF9;
        }
        >.username{
            color: #ff5f2e;
            padding: 0 15px;
            height: 40px;
            line-height: 30px;
            vertical-align: middle;
            display: inline-block;
        }
        >.logout{
            padding: 0 10px;
            border: none;
            background-color: #ff5f2e;
            color: #004e66;
            &:hover{
                background-color: #d9e1e8;
                // color: #fff;
            }
        }
    }
    >.sidebar{
        top: 40px;
        bottom: 0;
        // max-width: 300px;
        position: absolute;
        background-color: #004e66;
    }

    .menus {
        >.logo{
            text-align: center;
            font-size: 1.7em;
            color: #ff5f2e;
        }
        > a{
            text-decoration: none;
        }
        > a li{
            padding: 0 10px ;
            // margin: 10px;
            font-size: 1.7em;
            color: #FFFFF3;


            > span{
                width: 50px;
                vertical-align: middle;
                display: inline-block;
                padding: 0 10px;
            }

            &:hover{
                cursor: pointer;
                color: #fff;
                background-color: #c1c1c1;
                // box-shadow: 0 2px 0 0 #fff;
            }
            &.active , &.active:hover{
                background-color: #fff;
                color: #004e66;
            }
        }
    }




    ///////// admin login page ////////////
    > .signin{

        width: 400px;
        background-color: #d9e1e8;
        padding: 30px 60px;
        box-shadow: 0 3px 0 0 #004e66;
        margin: 0 auto;
        margin-top: 150px;
        >.header{
            margin-bottom: 30px;
            text-align: center;
            >h2,h3{
                font-size: 3em;
                margin: 0;
                color: #004e66;
            }
            >h2{
                padding-bottom: 2px;
                box-shadow: 0 2px 0 0 #004e66;
            }
        }
        > form{
            padding: 0 0 20px 0 ;
            >.input{
                margin-top: 20px;
                >label{
                    color: #004e66;
                    font-size: 1.4em;
                }
                >input{
                    width: 100%;
                    height: 40px;
                    border: 2px solid #ff5f2e;
                    padding-left: 15px;
                }
            }
            >.submit{
                padding: 15px 0;

                > button{
                    height: 40px;
                    width: 100px;
                    background-color: #004e66;
                    border: 2px solid #004e66;
                    color: #fff;
                }
            }

        }
    }
    >.content{
        width: 100%;
        padding: 15px 0;
        padding-left: 250px;
        padding-top: 40px;
        padding-right: 15px;
        float: left;
    }
    > .content.mac_list{


        >._1,._2{
            float: left;
        }
        >._1{
            width: 100%;
            >.search{
                margin: 25px 0;
                height: 35px;
                float: left;
                > .input,>.button{
                    height: 100%;
                    font-size: 1.5em;
                    float: left;
                }
                >.input{
                    width: 300px;
                    margin-right: 5px;
                    padding: 5px;
                    border: 2px solid #ff5f2e;
                    background-color: #fff;
                }
                >.button{
                    background-color: #fff;
                    border: 2px solid #004E66;
                    color: #004E66;
                }
            }
            > table{
                &.table-hover > tbody > tr:hover{
                }

                > thead{
                    background-color: #d9e1e8;
                    >tr th{
                        border: none;
                        color: #004e66;
                    }
                    > tr th:first-child{
                        background-color: #004e66;
                        color: #EFFFF9;
                        width: 50px;
                    }
                }
                > tbody{
                    > tr {
                        color:  #004e66;
                        > td{
                            vertical-align: middle;
                        }
                        td:first-child, td:last-child ,td:nth-child(2){
                            text-align: center;
                        }
                        td:first-child{
                            font-size: 2em;
                        }
                        td:last-child{
                            > button{
                                border: 1px solid #ff5f2e;
                                background-color: transparent;
                                color: #ff5f2e;
                                font-size: 1.2em;
                                padding: 2px 8px;
                            }
                        }
                    }
                }
            }
        }
        >._2{
            padding: 0 0 0 30px;
            width: 25%;
            min-width: 200px;

        }

    }



}
