@font-face {
    font-family:'Thaisans';
    src:url(../fonts/ThaiSans/ThaiSansNeue-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family:'Thaisans';
    src:url(../fonts/ThaiSans/ThaiSansNeue-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family:'Opensans';
    src:url(../fonts/OpenSans-Regular.ttf);
}