.nopad {
  padding: 0 !important; }

.user-page > ._1 > .head {
  width: 100%;
  text-align: center; }
  .user-page > ._1 > .head h2 {
    color: #fcbe32;
    text-align: center;
    font-size: 4em; }
.user-page > ._1 > .content {
  border: 1px solid #555;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px 0;
  text-align: center; }
  .user-page > ._1 > .content > div {
    font-size: 1.8em; }
  .user-page > ._1 > .content > .epassport {
    margin-bottom: 30px; }
  .user-page > ._1 > .content > .signout {
    padding: 5px 20px;
    border: 1px solid #ff5f2e;
    border-radius: 3px;
    font-size: 1.4em;
    color: #fff; }
.user-page > ._2 > .form > .alert {
  position: absolute; }
.user-page > ._2 > .form > .alert > .user_alert {
  text-align: center;
  width: 100%;
  padding: 5px 20px;
  visibility: visible;
  position: initial; }
  .user-page > ._2 > .form > .alert > .user_alert > h2 {
    font-size: 2em;
    margin-top: 10px; }
  .user-page > ._2 > .form > .alert > .user_alert.success {
    color: #fcbe32;
    background-color: #004e66; }
    .user-page > ._2 > .form > .alert > .user_alert.success > h2:before {
      content: "successmac"; }
  .user-page > ._2 > .form > .alert > .user_alert.delete {
    color: #004e66;
    background-color: #fcbe32; }
    .user-page > ._2 > .form > .alert > .user_alert.delete > h2:before {
      content: "deletemac"; }
.user-page .add-device > h2.thaisans {
  margin: none; }
.user-page .ch-device {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 20px 0;
  /* hide input */ }
  .user-page .ch-device > label {
    height: 70px;
    width: 70px;
    background-color: transparent;
    font-size: 5em;
    line-height: 70px;
    text-align: center;
    left: 0;
    color: #D1D3D4;
    position: absolute; }
    .user-page .ch-device > label.mobile {
      font-size: 3.3em; }
    .user-page .ch-device > label.tablet {
      font-size: 4em;
      line-height: 75px; }
    .user-page .ch-device > label.laptop {
      font-size: 3.5em; }
  .user-page .ch-device > input.text {
    width: 100%;
    height: 70px;
    padding-left: 75px;
    font-size: 2em;
    border-radius: 5px 0 0 5px;
    border: 2px solid #D1D3D4;
    border-right: none;
    float: left; }
  .user-page .ch-device > button.button {
    height: 70px;
    line-height: 70px;
    font-size: 3em;
    padding: 0 10px;
    border: 2px solid #D1D3D4;
    border-radius: 0 5px 5px 0;
    background-color: transparent;
    color: #ddd;
    position: absolute; }
    .user-page .ch-device > button.button:hover {
      background-color: #2b90d9; }
  .user-page .ch-device > input.text:focus ~ label {
    color: #004e66; }
