.nopad{
    padding:0 !important;
}
.errorpage{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 5%;
    display: block;
    padding: 100px 10px 10px 50px;
    border: 1px solid #004e66;
    border-bottom-width:2px;
    background-color: #d9e1e8;
    > button{
        margin-top: 25px;
        padding: 5px 30px;
        border: 2px solid #fff;
        background-color:#004e66;
        color: #d9e1e8;
        border-radius: 5px;
        font-size: 2em;
    }
}
.user-page{


    >._1{

        >.head{
            width: 100%;
            text-align: center;

            h2{
                color: #fcbe32;
                text-align: center;
                font-size: 4em;
            }
        }

        >.content{
            // margin: 20px;
            border: 1px solid #555;
            background-color: rgba(0,0,0,0.4);
            padding: 25px 0;
            text-align: center;


            >div{
                font-size: 1.8em;
            }
            >.name{

            }
            >.epassport{
                // margin-bottom: 15px;
            }
            >.tel{
                margin-bottom: 40px;
            }
            >.signout{
                padding: 5px 20px;
                border: 1px solid #ff5f2e;
                border-radius: 3px;
                font-size: 1.4em;
                color: #fff;
                // display: block;
                // margin: 0 60px;
            }
        }

    }
    >._2 .user_alert {
        padding: 5px 20px;
        margin-top: 10px;
        // border: 1px solid #7b7b7b;
        background-color:#dcdcdc;
        display: inline-block;
        >h2{
            font-size: 1.5em;
            color: #7b7b7b;
            margin:0;
        }
    }
    .student,.teacher{
    }
    .add-device{
        > h2.thaisans{
            margin: none;
        }
    }
    .ch-device{
        position: relative;
        width: 100%;
        height: 50px;
        margin: 20px 0 ;

        > label{
            height: 50px;
            width: 50px;
            background-color: transparent;
            font-size: 5em;
            // text-indent: 10px;
            line-height: 70px;
            text-align: center;
            left: 0;
            color: #D1D3D4;
            position: absolute;

            &.mobile{
                font-size: 3em;
            }
            &.tablet{
                font-size: 3em;
                line-height: 55px;
            }
            &.laptop{
                font-size: 2.8em;
            }
        }
        >input.text{
            width: 100%;
            height: 70px;
            padding-left: 75px;
            font-size: 2em;
            border-radius: 5px 0 0 5px;
            border: 2px solid #D1D3D4;
            border-right: none;
            float: left;
        }
        >button.button{
            // background-color:
            height: 50px;
            line-height: 50px;
            font-size: 2.5em;
            padding: 0 10px;
            border: 2px solid #D1D3D4;
            border-radius: 0 5px 5px 0;
            background-color: transparent;
            color: #ddd;
            position: absolute;
            &:hover{
                background-color: #2b90d9;
            }
        }

        /* hide input */
        // > input.text:empty {
        //     position: absolute;
        //     margin-left: -999px;
        // }
        > input.text:focus ~ label {
            color: #004e66;
        }
    }

    .my-button{
        padding: 0;
    }


    /// start  professor
    &.professor{
        & .dev {
            & + .ch-device{
                margin-top: 10px;
                margin-bottom: 20px;
            }
            & .select > .tooltip{
                font-size: 1em;
            }
            & .select label{
                font-size: 3em;
                display: inline-block;
                color: #ccc;
                border: 2px solid #ccc;
                width: 70px;
                text-align: center;
                vertical-align: middle;
                padding:10px;
            }
            & .select > input{
                visibility: hidden;
                &.laptop:checked + label{
                    border-color: red;
                    color:red;
                }
                &.phone:checked + label{
                    border-color: tomato;
                    color:tomato;
                }
                &.tablet:checked + label{
                    border-color: gold;
                    color:gold;
                }
                &.other:checked + label{
                    border-color: royalblue;
                    color:royalblue;
                }
            }


        }
        & .ch-device .text{
            padding-left: 15px;
        }
        & .ch-device.activated .text{
            padding-left: 75px;
        }

    }

}//end of user


.my-modal-content{
    // height: 95%;
    margin-bottom: 0;
    overflow-y: auto;
    border-radius: 0;
}
.my-modal-text{
    >div>p{
        font-size: 1.2em;
    }
}
.img{
    text-align: center;
    & + p{
        margin-top: 20px;
    }
}

@media all and (min-width: 768px) {
    .my-modal-content{
        height: 97%;
        width: 700px;
    }
}