.nopad{
    padding:0 !important;
}
.user-page{

    >._1{

        >.head{
            width: 100%;
            text-align: center;

            h2{

                text-align: center;
                font-size: 4em;
            }
        }
    }
    .student,.teacher{
    }
    .add-device{
        > h2.thaisans{
            margin: none;
        }
    }
    .ch-device{
        position: relative;
        width: 100%;
        height: 70px;
        margin: 20px 0 ;

        > label{
            height: 70px;
            width: 70px;
            background-color: transparent;
            font-size: 5em;
            // text-indent: 10px;
            line-height: 70px;
            text-align: center;
            left: 0;
            color: #D1D3D4;
            position: absolute;

            &.tablet{
                font-size: 4em;
                line-height: 75px;
            }
            &.laptop{
                font-size: 3.5em;
            }
        }
        >input.text{
            width: 100%;
            height: 70px;
            padding-left: 75px;
            font-size: 2em;
            border-radius: 0.5em 0 0 0.5em;
            border: 2px solid #D1D3D4;
            border-right: none;
            float: left;
        }
        >button.button{
            // background-color:
            height: 70px;
            line-height: 75px;
            font-size: 5em;
            border: none;
            background-color: #a3a1a1;
            color: #ddd;
            position: absolute;
            &:hover{
                background-color: #fcbe32;
            }
        }

        /* hide input */
        // > input.text:empty {
        //     position: absolute;
        //     margin-left: -999px;
        // }
        > input.text:focus ~ label {
            color: #004e66;
        }
    }
}